public class LoggerTest {

    private static final <spot>logger</spot> = LoggerFactory.getLogger(LoggerTest.class);

    public String method() {
        String newVar = "1";
        <spot>logger</spot>.debug(newVar)
        return newVar;
    }
}