public class LoggerTest {

    private static final Logger <spot>logger</spot> = LoggerFactory.getLogger(LoggerTest.class);

    public String method() {
        String newVar = "1";
        <spot>logger</spot>.debug("newVar=" + newVar);
        return newVar;
    }
}